.App {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #F3F3F3;
  }

.commands_container{
    width: 50%;
    margin:0 auto;
}

.commands_text_container{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.commands_page_title{
    text-align: left;
    font-size:2rem;
}

.commands_purpose_title{
    font-size:1.5rem;
    margin-top: 2rem;
}   

.command_textC{
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #BCBCBC;
    margin-top:1rem;
}

.command_text_command{
    display:flex;
    flex-direction:row;
    gap:0.5rem;
    align-items:center;
    font-size: 1.25rem;
    font-weight: bold;
}

.command_text_icon{
    width: 1rem;
    height: 1rem;
}

.command_text_uitleg{
    margin-left: 1.5rem;
}