.App {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #F3F3F3;
  }

.commands_container{
    width: 50%;
    margin:0 auto;
}

.commands_text_container{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;

}