.main{
    padding: 1rem 2rem;
}

.productOverview_container{
    display:flex;
    width:75%;
    margin: 0 auto;
    
}

.productOverview_productInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.productOverview_naam{
    font-size:1rem;
}

.productOverview_picture{
    width: 50%;
    height: 100%;
    margin-right:2rem;
}

.container{
    width: 100%;
    margin-bottom: 4rem;
}

.product_price_container{
    display:flex;
    align-items:center;
}

.product_price{
    margin-left: 0.5rem;
    font-size:1rem;
}

.productVoordelen_title{
    text-align: center;
    font-size:2rem;
}

.productVoordelen_container{
    width: 50%;
    margin: 0 auto;
}

.productVoordelen_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content:space-around;
}



h2{ 
    margin-top:0;
    margin-bottom:0
}