.main{
    padding: 1rem 2rem;
    background-color: #F3F3F3;
    height: 100vh;
    width: 100vw;
}

.goBack_container{
    display:flex;
    align-items: center;
    cursor: pointer;
}

.goBack_command{
    color:#BCBCBC
}

.goBack_icon{
    width:1.5rem;
    height:1.5rem;
    margin-right: 0.5rem;
}

.container{
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.productOverview_container{
    display:flex;
    width:50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    padding:1rem;
}

.productOverview_picture{
    width: 50%;
    height: 50%;
    margin-right:2rem;
    border-radius: 15px;
    align-self: center;
}

.productOverview_productInfo{
    width: 50%;
    padding: 1rem
}

.productOverview_name{
    font-size:1.5rem;
    margin-bottom:1rem;
}

.productOverview_price{
    font-size:1rem;
    color:#368ADE;
    margin-bottom:1rem;
    font-weight:bold;
}

.productOverview_disc{
    margin-bottom:1rem;
}

.productOverview_size{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
}

.sizes{
    margin: 0 1rem;
    height: 2rem;
    padding: 0.25rem;
    border-radius: 15px;
    background-color: #4E4E4F;
    color:white;
    width:4rem;
}

.productOverview_buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.productOverview_cartC{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
    background-color: #4E4E4F;
    width:75%;
    height: 3rem;
    padding: 0.5rem 0.5rem;
    cursor:pointer;
}

.productOverview_cart{
    all:unset;
    height: 100%;
    color:white;    
}

.wishlist_icon{
    width: 3rem;
    height: 3rem;
}

.productVoordelen_title{
    text-align: center;
    font-size:1rem;
}

.productVoordelen_container{
    width: 100%;
}

.productVoordelen_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom:1rem;
}

.test3{
    padding: 1rem;
    width: 50%;
    margin:0 auto;
    background-color: white;
    border-radius:15px;
}

.item-a{
    justify-self: end;
}

.item-b{
    justify-self: start;
}

h2{ 
    margin-top:0;
    margin-bottom:0
}