.main{
    padding: 1rem 2rem;
    background-color: #F8F8FF;
    height: 100vh;
    width: 100vw;
}

.shoppingList_grid_container{
    margin: 0 auto;
    background-color:white;
    padding: 1rem;
    border-radius: 15px;
}

.shoppingList_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;      
}